@font-face {
  font-family: "Mona Sans";
  src: url("../../../src/assets/fonts/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("../../../src/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
.cli h3 {
  font-family: "Mona Sans", sans-serif !important;
  font-size: 50px !important;
  color: black !important;
  text-align: center !important ;
}
p,
h1,
h2,
h3,
.h4 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
.h4 {
  font-stretch: 125%;
  line-height: 1.2;
  color: var(--important);
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
  color: black;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}
.flex-container {
  display: flex;
  justify-content: space-between; /* Align items to the right side */
  align-items: center; /* Vertical alignment */
}

/* Add any additional styling as needed */

.home {
  height: auto;
  margin-top: 50px;
  color: white;
  align-content: center;
}

.home-content {
  padding: 30px;
  margin-top: 30px;
  font-size: var(--text-large);
}
.home-content h1 {
  font-size: 45px;
  font-family: "Mona Sans", sans-serif;
  color: black;
}

.home-content h3 {
  font-size: 22px;
  font-family: "Mona Sans", sans-serif;
  color: black;
}
.home-content h2 {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

/*---------Buttons------------*/

/* CSS */

.button-86 {
  all: unset;
  width: 140px;
  height: 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.rotate {
  transform: rotate(360deg);
}
.icons-container {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.rotate-container {
  text-align: center;
  color: black;

  margin: 20px;
}

.icons-container {
  display: flex;
  align-items: left;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 150px; /* Adjust the margin as needed for the desired space */
  animation: rotateIcon 10s linear infinite; /* Adjust duration and other properties as needed */
}

.icon-name {
  margin-top: 5px; /* Adjust the margin as needed for spacing between the icon and the name */
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: "Mona Sans", sans-serif;
}
