.profile-picture img {
  border-radius: 90px;
  margin-top: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 3px solid gray;
}

.navbar-items ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;
  text-decoration: none;
}

.navbar-items ul li svg {
  margin-right: 25px;
  margin-left: 10px;
}

.navbar-icons-only ul li {
  margin-top: 8px;
  cursor: pointer;
  list-style-type: none;
}

.navbar-icons-only ul li svg {
  margin-left: 10px;
}

.navbar-items ul li a {
  text-decoration: none;
}

.nav-item .active {
  border-left: 2px solid yellow;
  color: yellow;
}

@media screen and (max-width: 768px) {
  .profile-picture img {
    height: 100px; /* Adjust height for smaller screens */
    width: 100px; /* Adjust width for smaller screens */
    margin-top: 10px;
  }

  .navbar-items ul li,
  .navbar-icons-only ul li {
    margin-top: 10px; /* Adjust margin for smaller screens */
    width: 10px;
  }

  .navbar-items ul li svg,
  .navbar-icons-only ul li svg {
    margin-right: 15px; /* Adjust margin for smaller screens */
    margin-left: 5px; /* Adjust margin for smaller screens */
  }
}
