.sidebar-section {
  height: 100vh;
  background-image: linear-gradient(#ffffffa2, #ffffffe6),
    url("../../../src/assets/images/hero-bg-light.webp");
  background-size: cover;
  background-position: center;
  color: white; /* Set text color to contrast with the background image */
  text-align: left;
  min-block-size: calc(100vh + var(--radius));
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.sidebar {
  height: 100vh;
  background-image: url("../../image/bgblack.avif");
  width: 95px;
  position: fixed;
}

.sidebar-expand {
  width: 210px;
}

.icon-sidebar-collapse-expand {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

.icon-sidebar-collapse-expand p svg {
  background-color: #19092c;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
