.sidebar-section {
  height: 120vh;
  background-image: linear-gradient(#ffffffa2, #ffffffe6),
    url("../../../src/assets/images/hero-bg-light.webp");
  background-size: cover;
  background-position: center;
  color: white;
  min-block-size: calc(100vh + var(--radius));
  background-attachment: fixed;
  position: relative;

  /* Adjust background size for all screen sizes */
  background-size: cover;
  background-repeat: no-repeat;
}

/* .sidebar {
  height: 100vh;
  background-image: url("../../image/bgblack.avif");
  width: 95px;
  position: fixed;
} */

/* .sidebar-expand {
  width: 210px;
} */

/* .icon-sidebar-collapse-expand {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
  cursor: pointer;
} */

/* .icon-sidebar-collapse-expand p svg {
  background-color: #19092c;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
} */

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

/* Media queries for responsive styles */
@media screen and (max-width: 1200px) {
  .sidebar-section {
    background-size: auto; /* Adjust background size for medium screens */
  }
}

@media screen and (max-width: 768px) {
  .sidebar-section {
    background-size: auto; /* Adjust background size for smaller screens */
  }

  .icon-sidebar-collapse-expand {
    margin-top: 30px; /* Adjust margin for smaller screens */
  }
}
