.profile-image img {
  height: 550px;
  width: 350px;
  border-radius: 190px;
  margin-top: 250px;
  border: 5px solid gray;
  object-fit: cover;
  margin-left: 100px;
}

.about-details {
  margin-top: 50px;
  font-size: 20px;
}

.about-title h1 {
  text-align: center;
  margin-top: 150px;
}

.line {
  display: block;
  width: 70px;
  height: 5px;
  margin: 10px auto;
  background-color: gray;
}

@media (max-width: 1000px) {
  .about-section {
    height: auto;
  }
}
